<br>
<br>
<br>

<div class="home">
    <div class="home-text">
        <div>
            <h2>Welcome to THE central location to buy and sell your mugs!</h2>
            <h3>On our site, we connect you to other collectors like you to find those missing pieces in your collection with ease. Thanks for stopping by and take a look at the cups that are available below!</h3> 
        </div>
    </div>
    <div>
        <img src="/images/home.jpg">
    </div>
</div>

<div class="mug-container">
        {{#each cups as |Cup|}}
        <div>
            <div class="mug">
                <div class="mug-img">
                <img src="/images/{{Cup.filename}}">
                </div>
                <div class="mug-info">
                    <h3 class="header">{{Cup.name}}</h3>
                    <p>{{Cup.launchDate}}</p>
                    {{!-- saw there is no price created for cups on backend --}}
                    <span class="price">{{Cup.size}}</span>
                    
                </div>
            
                <div class="mug-body">
                    <a href="#" class="username"> {{Cup.username}} </a>
                    <p class="mug-desc">{{Cup.type}}
                    </p>
                </div>
            </div>
        </div>
    {{/each}}
</div>